@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&family=Geist+Mono:wght@400;500&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Geist', sans-serif;
  background-color: #F9FAFB;
  color: #111827;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover {
  scrollbar-color: #D1D5DB transparent;
}
